pymongo[srv]
python-telegram-bot>=13,<14
python-dotenv
pytz
flask
pycryptodome
python-dateutil
pyrogram
TgCrypto
uvloop
telethon
google-generativeai
asteval
gunicorn
pillow
IMDbPY
psutil
distro
pdf2docx
cairosvg
pdfminer.six
fpdf
pypandoc
loguru
gtts
